<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Document</title>

<link rel="stylesheet" type="text/css" href="./css/main.css">
<script src="web3.min.js"></script>
</head>

<body>
  <div class="col-md-6 col-md-offset-5">
  <div style='float: right;' >
    <a href="/logout">Logout</a>
  </div>
  </div>
 <div class="container">

<h1>Add Email</h1>

<!-- <h2 id="instructor"></h2> -->

<label for="name" class="col-lg-2 control-label">Content</label>
 <input id="content" type="text">

<label for="name" class="col-lg-2 control-label">Message ID</label>
 <input id="messageId" type="text">

 <label for="name" class="col-lg-2 control-label">TimeStamp</label>
  <input id="timeStamp" type="text">

  <!-- <label for="name" class="col-lg-2 control-label">Email Id</label> -->
   <input id="userEmailId" type="text" value = <%=data.email %> hidden >
<!-- <p id="userEmailId" value= "<%=data.email %>" ><%=data.email %></p> -->

<button id="button" >Update  </button>


</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>



<script>

 // future code goes here
 if (typeof web3 !== "undefined")
{
 web3 = new Web3(web3.currentProvider);
 }
else
{
 // set the provider you want from Web3.providers
web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
 }

 //web3.eth.defaultAccount = web3.eth.accounts[0];

 var request = new XMLHttpRequest();
 request.open("GET", "contracts.txt", false);
 request.send(null);
 var contractDetails = JSON.parse(request.responseText);
var Courses =  new web3.eth.Contract((contractDetails[0]), (contractDetails[1]) );


//  // var Courses = CoursesContract.at('0xd9145CCE52D386f254917e481eB44e9943F39138');

 $("#button").click(function() {

      console.log("account0:");

   console.log(web3.eth.accounts);
   console.log(web3.eth.accounts[1]);
   //------------------------------------------------
   var accounts = web3.eth.getAccounts((error,result) => {
          if (error)
          {
            console.log(error);
          }
          else
          {
            console.log(result[0]);
            console.log($("#userEmailId").innerHTML);
//----------------------------------------------------------------------------------------------------------------------------------
//searching for duplicates of Mail
var transCount = web3.eth.getTransactionCount(result[0], async function(err, counts){
  if(!err)
  {
    var flag = 0;
    var i = 1;
    for(  i = 1; i<counts; i++)
    {
      Courses.methods.getTransaction(i)
      .call({from: result[0]},
        async function(error, emailTransaction)
        {
            if(!error)
            {
              if(emailTransaction[1] === $("#messageId").val() && emailTransaction[2] === $("#timeStamp").val())
              {
                   flag = 1;
              }
            }
            else
            {console.log(error);}
        });//get method
        console.log(i + " - " + flag);
    }

    if(i === counts )
    {
      if(flag === 1)
      {alert("msgId + timeStamp already exists");}
      else
      {
        Courses.methods.generateTransaction($("#content").val(), $("#messageId").val(),
          $("#timeStamp").val(), $("#userEmailId").val()).send(
            {from: result[0], gas:3000000}, function(error, transactionHash)
              {
                if(!error)
                {
                  console.log($("#content").val());
                  console.log($("#messageId").val());
                  console.log($("#timeStamp").val());
                  console.log($("#userEmailId").val());
                  console.log("updated");
                }
                else
                {
                  console.log(error);
                }
             }
        );
      }
    }


   // } //else
  }
  else
   {console.log(err);}
}); //transcount



//--------------------------------------------------------------------------------------------------------------------------------------

          }
  });
//--------------------------------------------------------------

var accounts = web3.eth.getAccounts((error,result) => {
       if (error)
       {
         console.log(error);
       }
       else
       {
         console.log(result);

         Courses.methods.getTransaction(1)
         .call({from: result[0]},
           function(error, result)
           {
               if(!error)
               {
                 console.log("get method");
                 // console.log(result);
                 console.log(result[0]);
                 console.log(result[1]);
                 console.log(result[2]);
                 console.log(result[3]);
                 console.log("result");
               }
               else {
                 console.log(error);
               }
           }
         );

       }
});
//resetting
// $("#content").val() = "";

});
document.getElementById("content").value = "";
document.getElementById("messageId").value = "";
document.getElementById("timeStamp").value = "";

 </script>

</body>
</html>
