<!DOCTYPE html>
<html>
<head>
	<title>Find My Email</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">

	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/addJudiciary',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
							 //ADD THIS CODE
						// alert(response.Success);
						setTimeout(function(){
							document.getElementById("check").innerHTML="";
						},3000);
						// if (response.Success=="Success!") {
						// 	 if(response.userType == "generalUser")
						// 		 document.getElementById("generalUserType").click();
						// 	 else if(response.userType == "admin")
						// 	 	 document.getElementById("adminType").click();
						// };
         			},
         				error: function() {

						}
         			})
			});

		});
	</script>
</head>
<body>

	<ul>
		<li><a href="/">Email Arbitration Service Provider</a></li>
		<li style="float:right"><a class="active" href="/logout">Log Out</a></li>
	</ul>

	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>Add Judiciary</p>
		</div>
		<div class="form-group">
			<form id="form" method="post" >
                <input type="text" name="uniqueId" placeholder="Judiciary ID No. " required="" class="form-control"><br/>
				<input type="text" name="firstName" placeholder="First Name" required="" class="form-control"><br/>
                <input type="text" name="lastName" placeholder="Last Name" required="" class="form-control"><br/>
                <input type="text" name="emailId" placeholder="Email Id" required="" class="form-control"><br/>
				<input type="submit" value="Submit" class="btn btn-success">
			</form>


		</div>
		<div class="mssg bg-danger">
			<span id="check" ></span>
		</div>
		<div id="LangTable">
			<a href="/profile" id="generalUserType"></a>
			<!-- <a href="/profile" id="adminType"></a> -->
		</div>


		<!-- <div><span>Do you forgot password?</span><a href="/forgetpass">Click here</a> -->
		<div><a href="/profile">Back</a>
		<!-- <div><a href="/logout">Logout</a> -->

		</div>

	</div>
</body>
</html>
