<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet"
				 href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">


	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form1" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/',
					data: $('#form1').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form1')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="You are regestered,You can login now.") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});
		});
	</script>

</head>
<body>


<!-- <nav class="navbar bg-primary navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Service Provider</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/">Page 1</a></li>
      <li><a href="/">Page 2</a></li>
      <li><a href="/">Page 3</a></li>
    </ul>
  </div>
</nav> -->


<!-- <nav class="navbar navbar-dark bg-primary">
		 <a class="navbar-brand" href="#">
			 Primary color background
	 </a>
 </nav> -->

 <!-- <nav class="navbar navbar-dark bg-secondary">
	 <h3 class = "navbar-text"> Service Provider </h3> -->
        <!-- <a class="navbar-brand" href="#">
          Secondary color background
      </a> -->
    <!-- </nav> -->

		<ul>
			<li><a href="/">Email Arbitration Service</a></li>
			<!-- <li style="float:right"><a class="active" href="/logout">Log Out</a></li> -->
		</ul>

	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>Register Now
			</p>
		</div>
		<div class="form-group">
			<form id="form1" method="post">
				<input type="text" name="uniqueId" placeholder="Aadhar Id" required="" class="form-control"><br/>
				<input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
				<input type="text" name="firstName" placeholder="First Name" required="" class="form-control"><br/>
				<input type="text" name="lastName" placeholder="Last Name" required="" class="form-control"><br/>
				<!-- <label for="user_type">Type of User</label>
				<select class="form-control" name="user_type" id="user_type">
					<option class="form-control" value="User1"> User </option>
					<option class="form-control" value="User2"> Judiciary </option>
					<option class="form-control" value="User3"> Admin </option>
				</select></br> -->
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
				<input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
				<input type="submit" value="Register" class="btn btn-success">
			</form>
		</div>

		<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div>
			<span>Already Registered! <a href="/login">Login</a></span>
		</div>
		<div id="LangTable"><a href="/login" id="aa"></a>
		</div>
	</div>
</body>
</html>
