<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<!-- <link rel="stylesheet"
				 href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">

	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/login',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
								 if(response.userType == "generalUser")
									document.getElementById("generalUserType").click();
								 else if(response.userType == "admin")
									document.getElementById("adminType").click();
								 else
								 	document.getElementById("judiciaryType").click();
         					};
         			},
         				error: function() {

						}
         			})
			});

		});
	</script>
</head>
<body>


<ul>
  <li><a href="/">Email Arbitration Service</a></li>
  <!-- <li style="float:right"><a class="active" href="/logout">Log Out</a></li> -->
</ul>


	<!-- <nav class="navbar navbar-dark bg-secondary">
		<h3 class = "navbar-text"> Service Provider </h3>
				 <a class="navbar-brand" href="#">
					 Secondary color background
			 </a>
		 </nav> -->


	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>Login</p>
		</div>
		<div class="form-group">
			<form id="form" method="post" >
				<input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br/>
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
				<input type="submit" value="Login" class="btn btn-success">
			</form>
		</div>
		<div class="mssg bg-danger">
			<span id="check" ></span>
		</div>
		<div id="LangTable">
			<a href="/profile" id="generalUserType"></a>
			<a href="/profile" id="adminType"></a>
			<a href="/profile" id="judiciaryType"></a>
		</div>

		<div><span>Forgot password?</span><a href="/forgetpass">Click here</a>
		<div><span>Create a new Account?</span><a href="/">Register here</a>

		</div>

	</div>
</body>
</html>
