
<!-- <label for="level">Select Judiciary : </label>
			<select class="form-control" name="level" id="level">
				<% judiciaries.forEach(function(judiciary){ %>
				<option class="level" value=<%=level.rank%>> <%= judiciary %></option>
				<% }); %>
			</select> -->